<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <appSettings>
    <add key="BaseDir" value="c:\bdb\applications"/>
    <add key="GitExe" value="c:\cygwin\bin\git.exe"/>
    <add key="ProcessTimeout" value="60"/>
    
    <add key="log4net.Config" value="log4net.config" />
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
  </appSettings>
  
  <system.web>
    <compilation debug="true" />
  </system.web>
  
  <system.serviceModel>
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <serviceMetadata httpGetEnabled="True"/>
          <serviceDebug includeExceptionDetailInFaults="true"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <bindings>
      <basicHttpBinding>
      </basicHttpBinding>
    </bindings>
    <services>
      <service name="WhitelistExecuter.Lib.WhitelistExecuter">
        <endpoint address="" binding="basicHttpBinding" contract="WhitelistExecuter.Lib.IWhitelistExecuter" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost" />
          </baseAddresses>
        </host>
      </service>
    </services>
    <protocolMapping>
      <add scheme="http" binding="basicHttpBinding" />
    </protocolMapping>
  </system.serviceModel>

</configuration>
