@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Error";
}

<hgroup class="title">
    <h1 class="error">Error.</h1>
    <h2 class="error">

        @if (Model.Exception is System.ServiceModel.CommunicationException)
        {
            <span>Error communicating with the agent.</span>
        }
        else
        {
            <span>An error occurred while processing your request.</span>
        }
    </h2>
</hgroup>
