<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="BaseDirs" value="C:\Temp\Dir1;C:\Temp\Dir2"/>
    <add key="GitExe" value="c:\cygwin\bin\git.exe"/>
    <add key="ProcessTimeoutSeconds" value="120"/>
    <add key="ScriptFilePath" value="Deploy.bat"/>
  </appSettings>
</configuration>